<h1>Log In</h1>


<div class="form">
  <div class="row">
      <div class="large-12 columns">
		<%= form_tag sessions_path do %>
			<div class="field">
				<%= label_tag :name %>
				<%= text_field_tag :email, params[:email] %>
			</div>
			<div class="field">
				<%= label_tag :password %>
				<%= password_field_tag :password %>
			</div>
			<div class="field">
				<%= label_tag :remember_me %>
				<%= check_box_tag :remember_me, 1, params[:remember_me] %>
			</div>
			<div class="actions"><%= submit_tag "Log in" %></div>
		<% end %>

		<p>New to Trans Resources Toronto? <%= link_to "Join Us", new_user_path %>!</p>

		<p>Forgot Password?</p>
		<%= render 'forgot_password_form' %>
	   </div>
	</div>
</div>