<h1>Superforum</h1>
<% if current_user %>
  <%= link_to "Add New Topic", new_topic_path %></p>
<% else %>
	<p>You must <%= link_to "Register", signup_path %> or <%= link_to "Log In", :login %> </p> to add a new topic.</p>

<% end %>
<p>Welcome to Superforum. Here you can interact with other users by creating and discussing your own topics. 
Please read the rules before posting or replying to threads. Otherwise you may get banned! Have fun.</p>
<p>Click on a topic name to see all of its threads.</p>

<h3>Search</h3>
<form>
  <div class="row">
    <div class="large-4 columns">
      <label>
        <%= form_tag("/search/index", method: "get") do %>
          <%= label_tag(:search, "Search Superforum") %>
          <%= text_field_tag(:search) %>
          <%= submit_tag("Search") %>
      </label>
    </div>
  </div>
</form>
<% end %>

<table border="1" align="center">  
  <tr>  
    <th width="30%">Topic</th>  
    <th width="30%">Description</th>  
    <th width="30%">Last Post</th>
  </tr>  
  <% @topics.each do |t| %>

  <tr>
    <td>
      <%= link_to t.name, topic_path(t) %>
    </td>
    <td>
      <%= t.description %>
    </td>
    <td>
      <%= t.updated_at %>
    </td>
  </tr>
      <% end %>
</table>  



