<h1>All Threads For <%= @topic.name %></h1>



<ul class="breadcrumbs">
  <li><a href="#"><%= link_to "Superforum", topics_path %></a></li>
  <li class="current"><a href="#"><%= @topic.name %></a></li>
</ul>


<!-- 
<p><%= @topic.description %></p> -->
<% if current_user == @topic.user || current_user.try(:admin?) %>
  <%= link_to "Delete this Topic", topic_path(@topic), :confirm => "Are you sure you want to delete this topic?", :method => :delete %>
<% end %>
<% if current_user %>
  <p><%= link_to "Post a New Thread", new_topic_subject_path(@topic) %></p>
<% else %>
  <p>You must <%= link_to "Register", signup_path %> or <%= link_to "Log In", :login %> to create a new thread.</p>
<% end %>


<table border="1" align="center">  
  <tr>  
    <th width="30%">Thread</th>  
    <th width="30%">Description</th>
    <th width="30%">Last Post Made</th>  
  </tr>  
  <% @topic.subjects.each do |x| %>
  <tr>
  	<td>
     <%= link_to x.name, topic_subject_path(@topic, x) %>
      <% if current_user == @topic.user || current_user.try(:admin?) %>
      <%= link_to "(Delete this Thread)", topic_subject_path(@topic, x), :confirm => "Are you sure you want to delete this thread?", :method => :delete %> 
      <% end %>
	</td>
	<td>
		<%= x.description %>
	</td>
  <td>
    <%= display_date(x.created_at) %>
  </td>
  </tr>

  
  	<% end %>
</table>  




