<p>My Profile</p>

<p>Hello, <%= @user.username %>.</p>
<p>Tell us about yourself.</p>

<!-- 
<%= @user.profile %> -->
<div class="form">
  <div class="row">
      <div class="large-12 columns">
		<%= form_for(@user) do |f| %>
		<%= f.text_area :profile %>
	  </div>
  </div>
</div>

	<%= f.submit %>
<% end %>

<p><%= link_to "Back to Home", topics_url %></p>