<h1>Clothing Swap</h1>
<% if current_user %>
	<h4><%= link_to "post new clothing", new_user_item_path(current_user.id) %></h4>

<% else %>
	<h4><%= link_to "post new clothing", login_path %></h4>
<% end %></br>


<h4>search by tag:</h4>
<div id="tag_cloud">
  <% tag_cloud Item.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div></br></br>
				
<div class="form">

  <div class="row">
      <div class="large-12 columns">
        
					<%= form_tag("/search/index", method: "get") do %>
					  <%= label_tag(:search, "Search Wishlists") %>
					  <%= text_field_tag(:search) %>
					  <%= submit_tag("Search") %>
					<% end %>
			
			</div>
	</div>

</div>

<h4>all items:</h4>
<%# @users.each do |x| %>

	<ul class="large-block-grid-3">
	<%# x.items.each do |i| %>
	<% @items.each do |i| %>
				<div class="swap-item">
					<%= i.name %></br>
					Posted by: <%= link_to i.user.username, user_path(i.user_id) %></br>
					<%= image_tag i.image_url :thumb %></br>
					<%= link_to "See More", user_items_path(i.user_id)%>
				</div>
	<% end %>
	</ul>

<%# end %>

