<h1>Clothing Swap</h1>
<% if current_user %>
	<p><%= link_to "Post New Clothing", new_user_item_path(current_user.id) %> |
	<%= link_to "Back to Home", root_url %></p>

<% else %>
	<%= link_to "Post New Clothing", login_path %>
<% end %></br>

<h4>search by tag:</h4>
<div id="tag_cloud">
  <% tag_cloud Item.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div></br>

<h4>all items:</h4>
<%# @users.each do |x| %>

	<ul class="large-block-grid-3">
	<%# x.items.each do |i| %>
	<% @items.each do |i| %>
				<div class="swap-item">
					<%= i.name %></br>
					Posted by: <%= link_to i.user.username, user_path(i.user_id) %></br>
					<%= image_tag i.image_url :thumb %></br>
					<%= link_to "See More", user_items_path(i.user_id)%>
				</div>
	<% end %>
	</ul>

<%# end %>

