<h1>Clothing Swap</h1>
<% if current_user %>
	<p><%= link_to "Post New Clothing", new_user_item_path(current_user.id) %> |
	<%= link_to "Back to Home", root_url %></p>

<% else %>
	<%= link_to "Post New Clothing", login_path %>
<% end %>

<% @users.each do |x| %>
	<ul class="medium-block-grid-3">
	<% x.items.each do |i| %>

		

		
				<div class="swap-item">
					<%= i.name %></br>
					Posted by: <%= link_to x.username, user_path(x.id) %></br>
					<%= image_tag i.image_url :thumb %></br>
					<%= link_to "See More", user_items_path(x)%>
				</div>
			
	<% end %>
		</ul>
<% end %>

