<%= @subject.name %>




<% if @subject.comments %>
	<table border="1">
		<tr>
			<th>Name</th>
			<th>Joined</th>
			<th>Comment</th>
			<th>Posted on:</th>
		</tr>
		<% @subject.comments.each do |x| %>
			<tr>
				<td><%= x.user.username %></td>
				<td><%= x.user.created_at %></td>
				<td><%= x.note %></td>
				<td><%= x.created_at %></td>
			</tr>
		<% end %>	
	</table>
<% end %>

<%= form_for [@subject.topic, @subject, @comment] do |f| %>
  Write Post:
  
       
        <%= f.text_area :note %>

		<%= f.submit %>
	</div>
    
<% end %>

