<h1>Trans Resources Toronto</h1>


<h2>About Us</h2>
<p>Welcome to Trans Resources Toronto. If you live in Toronto, are transgender, and are looking for support, you've come to the right place.</p>

<p>Here we have a directory of locations in Toronto that will come in handy if you wish to physically and/or legally transition, want to read books with transgender topics, are looking for peer support, or otherwise get involved with your local community.</p>

<p>Click <%= link_to "Places", places_path %> in the navigation bar to see a list of all places sorted by category, or type a keyword into the search bar to help narrow down what you're looking for. Each place has a description of all they have to offer, an address, contact information, and a map to help you find all the resources in your vicinity. If you are homeless, there are also resources for meal plans and shelters that are trans-friendly.</p>

<p>If you are just beginning to transition, we know you may not have the funds or resources to replace your entire wardrobe, which is why we've created a <%= link_to "Clothing Swap", users_path %> for trans people. Here you can find listings with clothing trans people would like to trade, and what they're hoping to trade for. Once you <%= link_to "register", signup_path %> with us, you can post your own clothing and message people you would like to trade with. Everyone wins!</p>

<p>Finally, we have our own forum, <%= link_to "Superforum", topics_path %>, where you can directly speak with other users to discuss matters that are important to you, or share resources that we've missed. Feedback is very important to us and we would like to have the most comprehensive resource page for trans people in Toronto.</p>

<p>The reason we are called Trans Resources <i>Toronto</i> is because our resources are only in the Toronto area for now. We would like to expand someday to other places in Ontario where there are more resources and more trans people in need. Please post other places in Superforum that have come in handy for you!

<p>We hope you enjoy your stay here, and remember to <%= link_to "join us!", signup_path %></p>