<% if current_user %>
<h1>My Clothing Swap</h1>
<% else %>
<h1><%= @user.username %> 's Clothing to Swap</h1>
<li>Contact: <%= link_to @user.username, user_path(@user) %></li>
<% end %>
<!-- form for new item listing -->
<!--display all items w users, tags, categories, pictures -->


<% @user.items.each do |i| %>
<ul class="small-block-grid-3">


	<li><b><%= i.name %>:</b> <%= i.description %></li>
	<li><%= link_to image_tag( i.image.url ), user_item_path(@user, i) %></li>
	
</ul>
<% end %>
