<h1>Edit Place</h1>

<%= form_for(@place) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %></br>
	<%= f.label :description %>
	<%= f.text_area :description %></br>
	<%= f.label :address %>
	<%= f.text_field :address %></br>
	<%= f.label :phone %>
	<%= f.text_field :phone %></br>
	<%= f.label :hours %>
	<b>Monday</b><br/>
	<%= f.time_select :hours %> - <%= f.time_select :hours %><br/>
	<b>Tuesday</b><br/>
	<%= f.time_select :hours %> - <%= f.time_select :hours %><br/>
	<b>Wednesday</b><br/>
	<%= f.time_select :hours %> - <%= f.time_select :hours %><br/>
	<b>Thursday</b><br/>
	<%= f.time_select :hours %> - <%= f.time_select :hours %><br/>
	<b>Friday</b><br/>
	<%= f.time_select :hours %> - <%= f.time_select :hours %><br/>
	<b>Saturday</b><br/>
	<%= f.time_select :hours %> - <%= f.time_select :hours %><br/>
	<b>Sunday</b><br/>
	<%= f.time_select :hours %> - <%= f.time_select :hours %><br/>
	<%= f.label :email %>
	<%= f.text_field :email %></br>

	<%= f.submit %>
<% end %>
