<h1><%= @place.name %></h1>

<p><b>About: </b><%= @place.description %></p>
<p><b>Address: </b><%= @place.address %></p>
<p><b>Phone Number: </b><%= @place.phone %></p>
<p><b>Email: </b><%= @place.email %></p>