<h1><%= @place.name %></h1>
<p><%= link_to "Edit Place", edit_place_path %></p>
<p><b>About: </b><%= @place.description %></p>
<p><b>Address: </b><%= @place.address %></p>
<p><b>Phone Number: </b><%= @place.phone %></p>
<p><b>Email: </b><%= @place.email %></p>

<% if @nearby_places.present? %>
	<h3>Nearby Places</h3>
	<ul>
		<% @nearby_places.closest_three.each do |np| %>
			<li><%= np.name %></li>
			<p><%= np.address %></p>
		<% if @place.latitude %>
			<p><%= np.distance.round(2) %> km</p>
		<% end %>
		<% end %>
	</ul>
<% end %>

<div id="map-canvas"></div>
<div class="clear"></div>
<% if @place.latitude %>
	<%= javascript_tag do %>
		var coords = <%= raw @nearby_places.map {|r| {latitude: r.latitude.to_f, longitude: r.longitude.to_f}}.to_json %>

		var lat = <%= raw @place.latitude.to_f %>
		var long = <%= raw @place.longitude.to_f %>
		
	<% end %>
<% end %>